:root {
    --main-color: red;
    --padding: 20px;
    --width: 500px;
}

*{
  box-sizing: border-box;
}

.stats p {
  line-height: 1 em;
}

.container {
    width: 800px;
    max-width: 100%;
    margin: auto;
    min-height: 200px
}

.mainText{
  border-radius: 10px;
  outline: none;
}

.form {
    width: 60%;
    margin: 0 auto;
  text-align: center;
    /* border: solid red 1px; */
}

.form-group {
    display:flex;
    flex-direction: column;
    width: 100%;
    
}

.form-group input {
    padding: var(--padding);
    border-radius: 12px;
    outline: none;
    border: 1px solid gray
}

.button-btn {
    width: 60%;
    padding: 14px;
    border: none;
  border-radius: 20px;
    background-color: rgb(62, 169, 211);
    color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  font-style: bold;
  margin-top: 10px;
}

.button-btn:hover {
  background: rgb(22, 177, 61);
  border-radius: 20px;
  transition: .5s
}

.container h1 {
  text-align: center;
  font-size: 3em;
}

.results {
    width: 60%;
    margin: 5px auto;
  
/*     border: solid red 1px; */
    padding: 10px;
}

.stats {
    display:flex;
    flex-direction: row;
  justify-content: space-between;
}

.stat {
  text-transform: uppercase;
  
}

.stats-card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: solid 1px #d7d6d6;
  border-radius: 5px;
  padding: 5px;
  width: 120px;
}

.totalWords {
  font-style: bold;
  text-align: center;
}

.stats {
  text-align: center;
  padding: 30px 0;
}

.totalTime{
  padding-top: 15px
}

footer{
  text-align: center;
  background-color: #e9e8e8;
  padding: 20px 0;
  font-size: 20px;
}

.displaysection{
    background-color: aqua;
    height: inherit;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.grid-container{
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #e9e8e8;
}

.about-app, .footer-part{
  padding: 25px;
  background-color: rgb(96, 162, 189);
  height: 100%;
  font-size: 20px;
}

.about-app h1{
  font-family: 'Give You Glory', cursive;
  font-family: 'Finger Paint', cursive;
  /* font-family: 'Over the Rainbow', cursive; */
  font-size: 50px;
}

.about-app h3 span{
  font-size: 22px;
}

.about-app h3{
  padding-top: 95px;
}



/* Media Query for mobile mode */
@media(min-width: 360px) and (max-width: 480px) {
      .grid-container{
      display: flex;
      flex-direction: column;
    }

    .about-app h3{
      padding-top: 30px;
    }

    .about-app h1{
      text-align: center;
      font-size: 50px;
    }

    .container{
      margin: 30px 0;
      width: 100%;
    }

    .form{
      width: 90%;
      margin: auto;
    }

    .stats{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .stats-card{
      margin: 15px 0;
      width: 150px;
    }

    .footer-part{
      display: none;
    }

}
   
          
  /* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .grid-container{
       display: grid;
       grid-template-columns: 40% 60%;
       background-color: #e9e8e8;
    }
            
    .stats{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    }

    .stats-card{
       margin: 0 10px;  
    }

    .stats-card:nth-child(3){
       width: 100px;
       padding: 0 30px;
    }
}